In [15]:
import pandas as pd
import json
import numpy as np 
import os
from tqdm import tqdm
from yaml import safe_load

In [16]:
filenames = []
for file in os.listdir('odis'):
    filenames.append(os.path.join('odis',file))

In [18]:
final_df = pd.DataFrame()
counter = 1
for file in tqdm(filenames):
    with open(file, 'r') as f:
        df = pd.Dataframe(safe_load(f))
        df['match_id'] = counter
        final_df = final_df+df
        counter+=1
        
final_df

  0%|          | 0/2034 [00:00<?, ?it/s]

ValueError: Mixing dicts with non-Series may lead to ambiguous ordering.

,info.city,info.dates,info.gender,info.match_type,info.match_type_number,info.neutral_venue,info.outcome.by.runs,info.outcome.by.wickets,info.outcome.eliminator,info.outcome.method,...,info.teams,info.toss.decision,info.toss.winner,info.umpires,info.venue,innings,match_id,meta.created,meta.data_version,meta.revision
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN